/* Скрываем контент до загрузки */
.content {
    display: none;
}

.preloader {
    padding-top: 25%; /* Отступ сверху */
    background: #fefefb; /* задаем фон при загрузке */
    transition: opacity 0.5s ease; /* Плавный переход для изменения прозрачности */
    text-align: center;/* центрируем текст */
}

.loader span {
  display: inline-block;/* располагаем элементы в строку */
  width: 20px;/* Ширина кругов */
  height: 20px;/* Высота кругов */
  border-radius: 100%;/* задаем круг */
  background-color: #141414;/* Цвет кругов */
  margin: 35px5px;/* Отступы вокруг кругов */
}
.dot1 {
    animation: bounce 1s ease-in-out infinite;/* анимация для первой точки */
}

.dot2{
    animation: bounce 1s ease-in-out 0.33s infinite;/*анимация для второй точки с задержкой*/
}

.dot3 {
    animation: bounce 1s ease-in-out 0.66s infinite;/* анимация для третьей точки с задержкой */
}

/* Анимация bounce: */
@keyframes bounce {
    0%,
    75%,
    100% {
        transform: translateY(0);/* круги на месте */
   }

    25% {
       transform: translateY(-30px);/* круги поднимаются */
   }
}
